.sidebar{
  grid-row: 2 / span 1;
  width: 100%;
  height: auto;
}

/* Onderzoek aanmaken */
.sidebar__form{
  width: 100%;
  padding-top: 1rem;
}

.sidebar__inputSection{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.sidebar__label{
  font-size: 160%;
}

.sidebar__input{
  width: 95%;
  height: 4rem;
  font-size: 150%;
  padding-left: 1rem;
}

.sidebar__input--code{
  width: 70%;
}

/* Onderzoek aanmaken button */
.sidebar__buttonContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.sidebar__button{
  width: 95%;
  margin: 1rem;
}


/* lijst van onderzoeken */
.sidebar__lijst{
  width: 100%;
}

.sidebar__onderzoekContainer{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
}

.sidebar__onderzoekTitel{
  margin: 0;
  color: black;
  font-size: 2rem;
}

.sidebar__onderzoekTitel:hover{
  cursor: pointer;
}


.sidebar__code{
  color: black;
}

.sidebar__onderzoekLink{
  font-size: 160%;
}

.sidebar__verwijderButtonContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.sidebar__editButton{
  width: 45%;
}

.sidebar__bewerkButton{
  width: 100%;
  height: 100%;
}

/* chrome etc */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media(min-width: 31.25rem){
  .sidebar__input{
    width: 65%;
  }
  
  .sidebar__input--code{
    width: 50%;
  }

  .sidebar__button{
    width: 50%;
  }

  .sidebar__buttonContainer{
    justify-content: left;
  }

  .sidebar__verwijderButton{
    width: 50%;
  }

}

@media(min-width: 43.75rem){
  .sidebar__input{
    width: 50%;
  }
  
  .sidebar__input--code{
    width: 35%;
  }

  .sidebar__button{
    width: 35%;
  }

  .sidebar__verwijderButton{
    width: 35%;
  }


}


/* Vanaf hier andere layout */
@media (min-width: 59rem){
  .sidebar{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    height: 100vh;
    overflow-x:hidden;
    overflow-y: scroll;
  }

  .sidebar__input{
    width: 95%;
  }
  
  .sidebar__input--code{
    width: 70%;
  }

  .sidebar__buttonContainer{
    justify-content: center;
  }

  .sidebar__button{
    width: 95%;
  }

}

@media (min-width: 87.5rem){
  .sidebar__input{
    width: 70%;
  }
  
  .sidebar__input--code{
    width: 40%;
  }

  .sidebar__buttonContainer{
    justify-content: left;
  }

  .sidebar__button{
    width: 40%;
  }

  .overzicht__blank{
    padding: 10rem;
  }

}