.statistieken {
    background-color: var(--bg-darkblue);
}

.statistieken__CirkelGrafiek {
    width: 25%;
}

.statistieken__barGrafiek {
    width: 25%;
}

.statistieken__list__item {
    font-size: 1.4rem;
    color: var(--text-white);
}