.statistieken {
    background-color: var(--bg-darkblue);
    display: grid;
    grid-template-rows: auto auto auto;
}

.statistieken__CirkelGrafiek {
    display: grid;
    grid-template-columns: repeat(1, minmax(0,1fr));
    grid-template-rows: repeat(12, minmax(0,1fr));
}

.statistieken__CirkelGrafiek__canvas {}