.flex {display: flex;}
.jc-sb {justify-content: space-between;}
.fw-w {flex-wrap: wrap;}

#overzichtGebruiker { 
    background-color: #1e2736;
    color: white;
    width: 100vw;
    display: flex;
}

.lijstmetvragen {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 138px 0;
    text-align: center;
}
.lijstmetvragen__title { 
    font-size: 6.2rem;
}

.lijstmetvragen .lijstmetvragen__title { 
    margin-bottom: 40px; 
}

.lijstmetvragen__subtitle { 
    font-size: 1.85rem;
}

.lijstmetvragen  .lijstmetvragen__container { 
    margin: 70px -20px ;
}
.lijstmetvragen__container button {
    width: 68px;
    border: none;
    text-align: center;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid white;
}

.lijstmetvragen  .lijstmetvragen__container button{
    margin: 26px 20px;
    padding: 8px;
}

.lijstmetvragen__btns { 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    padding: 2rem;
    color: white;
    align-content: center;
    
}
.lijstmetvragen__btns__ruimte {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    background-color: #10a1e9;
    padding: 10px 35px;
    border: none;
    border-radius: 4px;
  
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}

.u-float-left{
    float: left;
}
.u-float-right{
    float: right;
}