.overzicht{
    background-color: #1E2736;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.overzicht__vragenlijst{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem; 
    overflow-y: scroll;
    overflow-x: hidden;   
}

.overzicht__titel{
    color: white;
}

.overzicht__vragenContainer{
    border: 1px solid white;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2.5rem;
}

.overzicht__vraagTitel{
    font-size: 200%;
    margin-bottom: 0;
}

















@media(min-width: 59rem){
    .overzicht{
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }

}

