.overzicht{
    background-color: #1E2736;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.overzicht__blank{
    padding: 3rem;
}

.overzicht__vragenlijst{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3rem;
    padding: 10rem; 
    overflow-y: scroll;
    overflow-x: hidden;   
}

.overzicht__titel{
    color: white;
}

.overzicht__text{
    color: var(--text-black);
}

.overzicht__vragen{
    width: 100%;
}

.overzicht__vragenContainer{
    border: 0.1rem solid white;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.overzicht__vraagTitel{
    font-size: 2.5rem;
    margin-bottom: 0;
}

.overzicht__content{
    width: 100%;
    background-color: #fff;
    padding: 2.5rem;
    border: 0.1rem solid white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
}


@media(min-width: 59rem){
    .overzicht{
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }
}

