.onderzoek {
    background-color: #1E2736;
}
.login-form__title {
    font-size: 5.6rem;
    color: #FFF;
}

.login-form__input {
    height: 3rem;
}

.login-form__paragraph {
    font-size: 1.8rem;
    font-weight: 400;;
    color: #FFF;
}

.login-form__button {
    height: 6rem;
    width: 15rem;

}

.onderzoek {
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-template-rows: repeat(12, minmax(0,1fr));
}

.vragen {
    grid-column: 2 / span 8;
    grid-row: 5 / span 1;
}

.vragen-form__paragraph__success {
    font-weight: 400;
    font-size: 1.8rem;
    color: green;
}
