
.onderzoek__section {
    grid-column: 4 / span 6;
    grid-row: 2 / span 1;
}

.vragen { 
    display: grid;
    grid-column: 4 / span 7;
    grid-row: 3 / span 2;
}

.vragen-form__label {
    font-size: 1.8rem;
    font-weight: 400;
    color: #FFF;
}

.vraag-form__input {
    width: 100%;
    height: 4rem;
    font-size: 150%;
    padding-left: 1rem;
}

@media (min-width: 350px) {
    .onderzoek__section__title {
        font-size: 2.2rem;
    }
    .vragen-form__section {
        margin-top: 2rem;
    }
    .onderzoek {
        background-color: #1E2736;
        grid-template-rows: repeat(6, minmax(0,1fr));
        grid-template-columns: repeat(8, minmax(0,1fr));
        display: grid;
    }
    .onderzoek__section {
        grid-column: 2 / span 6;
    }

    .vragen {
        display: grid;
        grid-column: 2 / span 6;
        grid-row: 3 / span 2;
    }   

}
@media (min-width: 625px) {
    .onderzoek-vraag__error {
        grid-column: span 2;
        text-align: center;
    }

    .onderzoek__section__title {
        font-size: 3.2rem;
    }
    .onderzoek {
        background-color: #1E2736;
        grid-template-rows: repeat(10, minmax(0,1fr));
        grid-template-columns: repeat(10, minmax(0,1fr));
        display: grid;
    }
    .onderzoek__section {
        grid-column: 2 / span 8;
    }
    .vragen {
        display: grid;
        grid-column: 2 / span 8;
    }

}
  
@media (min-width: 1225px) {
    .onderzoek-vraag__error {
        grid-column: span 4;
        text-align: center;
    }
    .onderzoek {
        background-color: #1E2736;
        grid-template-rows: repeat(12, minmax(0,1fr));
        grid-template-columns: repeat(12, minmax(0,1fr));
        display: grid;
    }
}