.vragen{
    width: 100%;
    min-height: 100vh;
    background-color: #1E2736;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vragen__titelSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.vragen__formContainer{
    background-color: #273747;
    min-height: 100vh;
    width: 100%;
    
}

/* form */
.vragen__form{    
    width: 100%;
    height: 100%;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 2rem;
    flex-direction: column;   
}

/* input section */
.vragen__inputSection{
    width: 100%;
}

.vragen__label{
    color: white;
    font-size: 200%;
}

.vragen__input{
    width: 100%;
    font-size: 160%;
    padding: 1rem;
}

.vragen__input--select{
    width: 25rem;
}

.vragen__buttonContainer{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.vragen__paragraph__success{
    margin-left: 2rem;
    color: lightgreen;
}


/* lijst met vragen  */
.vragen_lijst{
    width: 100%;
}

.vragen__vraagContainer{
    width: 100%;
    text-decoration: none;
    list-style-type: none; 
    padding: 1rem 2rem;
    border: 1px solid #10A1E9;
}

.vragen__vraagTitel{
    color: white;
    font-size: 250%;
}

.vragen__verwijderButton{
    margin-top: 1rem;
}

.vragen__text {
    color: white;
}


@media(min-width: 37.5rem){
    .vragen__titelSection{
        width: 85%;
        justify-content: left;
        padding: 3rem 0;
    }

    .vragen__formContainer{
        width: 85%;
    }

    .vragen__form{
        padding: 4rem;
    }
}

@media(min-width: 56.25rem){
    .vragen__titelSection{
        width: 75%;
    }

    .vragen__formContainer{
        width: 75%;
    }

    .vragen__form{
        padding: 5rem;
    }
}

@media(min-width: 68.75rem){
    .vragen__titelSection{
        width: 60%;
        
    }

    .vragen__formContainer{
        width: 60%;
    }
}

@media(min-width: 87.5rem){
    .vragen__form{
        padding: 5rem 8rem;
    }
}
