.u--grid {
    width: 100%;
    height: 100%;
}

.category {
    margin: 3rem;
}

.category__btn {
    position: relative;
    background-color: lightgrey;
    border-radius: 5rem;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    display: inline-block;
}

.category__btn:hover {
    background-color: var(--text-grey);
}
.category__btn:hover i {
    color: white;
}

.category__icon {
    font-size: 3rem;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -40%);
}

.category__text {
    width: 21rem;
    padding-left: 45px;
    padding-top: 10px;
}

.vraag {
    margin: 3rem;
}

.vraag__title {
    margin-bottom: 2rem;
}

.vraag__title--color {
    color: var(--text-blue);
}

.vraag__text {
    max-width: 35.5rem;
}

/*desktopview*/
@media only screen and (min-width: 64rem) {
    .category {
        background-color: #688593;
        margin: 0;
        padding: 3rem;
        height: 100vh;
        
    }
    .category__title {
        height: 80vh;
        color: var(--text-white);
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0.5rem 0.5rem rgba(33,33,33,0.1);
    }
    .category__text {
        color: var(--text-white);
    }

    .u--grid {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}