.dashboard{
    height:100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0,1fr));
    grid-template-rows: auto auto;
}


@media (min-width: 37.5rem){
    .dashboard{
        grid-template-rows: auto;
        grid-template-columns: repeat(3, minmax(0,1fr));
    }
  }