.login-form{
    width: 100%;
    height: 100vh;
    background-color: #1E2736;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Hoofdtekst */
.login-form__explain{
    width: 32rem;
}

.login-form__title{
    font-size: 450%;
    color: white;
}

/* input velden */
.login-form__form{
    width: 32rem;
}

.login-form__paragraph__error{
    color:red;
    font-size: 120%;
}

.login-form__section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    gap: 2rem;
}

.login-form__input{
    width: 100%;
    height: 4rem;
    font-size: 150%;
    padding-left: 1rem;
}

.login-form__section--inloggen{
    padding-top:2rem;
}

.login-form__text{
    font-size: 120%;
}

.login-form__button{
    width: 100%;
}

.login-form__textContainer{
    width: 100%;
    text-align: right;
    margin-top: 2rem;
}

.login-form__maken{
    color: var(--text-blue);    
}

.login-form__maken:hover{
    color: var(--btn-primary-hover);
}






