.onderzoek-vraag {
    background-color: #273747;
    margin: 5rem;

}

.onderzoek-vraag__container {
    padding: 3rem;
}

@media(min-width: 35rem) {
    .onderzoek-vraag {
        background-color: #273747;
        padding: 1rem;
        margin: 3rem;
        width: 75%;
        
    }

    .onderzoek-vraag__container__title {
        font-size: 2rem;
    }
}

@media (min-width: 62.5rem) {
    .onderzoek-vraag {
        margin: 5rem;
        width: 75%;


    }

    .onderzoek-vraag__container__title {
        font-size: 2.5rem;
    }
}