.onderzoek-vraag {
    background-color: #273747;

}

.onderzoek-vraag__container {
    padding: 3rem;
}

p {
    font-size: 1.4rem;
    color: #FFF;
}

h3 {
    font-size: 4rem;
    color: #FFF;
}

@media (min-width: 62.5rem) {
}
  
@media (min-width: 1225px) {

}