*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

:root {
    --body-bg: #fbfbfc;
    --bg-darkblue: #1e2736;
    --text-darkblue: #1e2736;
    --text-blue: #10A1E9;
    --text-black: #333;
    --text-grey: #5b5e5d;
    --text-white: #eee;
    --btn-primary: #10a1e9;
    --btn-primary-hover: #0c80ba;
    /* --btn-primary-active: #1e6f5c; */
    --btn-green: #1E6F5C;
    --btn-green-hover: #29977d;
    --btn-red: #A53E33;
    --btn-red-hover: #c65245;

    --btn-primary-active: #09608B;
}

.main{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0,1fr));
    grid-template-rows: auto auto;
}

@media (min-width: 37.5rem){
    .main{
        grid-template-columns: repeat(3, minmax(0,1fr));
        grid-template-rows: repeat(1, minmax(0,1fr));
    }
}

/*general styles*/

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    text-decoration: none;
    color: var(--text-darkblue);
    margin-bottom: 2rem;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    text-decoration: none;
    color: var(--text-black);
}

h3 {
    color: var(--text-white);
    font-family: 'Poppins-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

h4 {
    font-family: 'Poppins-SemiBold', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

p {
    font-family: 'Poppins-Regular', sans-serif;
    color: var(--text-grey);
    font-size: 1.6rem;
}

a {
    font-family: 'Poppins-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-blue);
}

button {
    background-color: var(--btn-primary);
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    cursor: pointer;
}

.red{
    background-color: var(--btn-red);
}

.red:hover{
    background-color: var(--btn-red-hover);
}

.green{
    background-color: var(--btn-green);
}

.green:hover{
    background-color: var(--btn-green-hover);
}

.primary:hover {
    background-color: var(--btn-primary-hover);
}

.primary:active{
    background-color: #1e6f5c;
}

.ghost{
    background-color: transparent;
    border: 2px solid var(--btn-primary-hover);
}

.ghost:hover{
    background-color: var(--btn-primary-hover);
}

.body {
    min-height: 100vh;
}