*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.main{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0,1fr));
}